<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("QMRI Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>QMRI Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>imageSession_ID</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/imageSession_ID")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("AMCZ0:qMRIData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("AMCZ0:qMRIData/time")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/project")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("AMCZ0:qMRIData/version")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/label")</TD></TR>
                            <TR><TD>&nbsp;</TD><TD></TD></TR>
							<TR><TD>gm_r1</TD><TD>$!item.getDoubleProperty("AMCZ0:qMRIData/gm_r1")</TD></TR>
							<TR><TD>gm_r2s</TD><TD>$!item.getDoubleProperty("AMCZ0:qMRIData/gm_r2s")</TD></TR>
							<TR><TD>wm_r1</TD><TD>$!item.getDoubleProperty("AMCZ0:qMRIData/wm_r1")</TD></TR>
							<TR><TD>wm_r2s</TD><TD>$!item.getDoubleProperty("AMCZ0:qMRIData/wm_r2s")</TD></TR>
							<TR><TD>gm_vol</TD><TD>$!item.getDoubleProperty("AMCZ0:qMRIData/gm_vol")</TD></TR>
							<TR><TD>wm_vol</TD><TD>$!item.getDoubleProperty("AMCZ0:qMRIData/wm_vol")</TD></TR>
							<TR><TD>icv</TD><TD>$!item.getDoubleProperty("AMCZ0:qMRIData/icv")</TD></TR>
							<TR><TD>b1mean</TD><TD>$!item.getDoubleProperty("AMCZ0:qMRIData/b1mean")</TD></TR>
							<TR><TD>b1std</TD><TD>$!item.getDoubleProperty("AMCZ0:qMRIData/b1std")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
                <!-- Jordi Huguet @ AMC UvA - 20170914 -->
				#set($fileNum=$item.getChildItems("AMCZ0:qMRIData/out/file").size() - 1)
				#if($fileNum>=0)
                    #foreach($currentFile in [0..$fileNum])
                        #if($!item.getStringProperty("AMCZ0:qMRIData/out/file[$currentFile]/label")=="SNAPSHOTS")
                            #set($exp_ID=$!item.getStringProperty("AMCZ0:qMRIData/imageSession_ID"))
                            #set($asses_ID=$!item.getStringProperty("AMCZ0:qMRIData/ID"))
                <TR><TD>&nbsp;</TD><TD></TD></TR>
                <TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">QMRI fitting</font></TH></TR>
                <TR>
				     <TD align="left">					  
					  <A target="_blank" HREF="/xnat/data/archive/experiments/${exp_ID}/assessors/${asses_ID}/resources/SNAPSHOTS/files?file_content=MOSAIC&index=0" >
					       <IMG SRC="/xnat/data/archive/experiments/${exp_ID}/assessors/${asses_ID}/resources/SNAPSHOTS/files?file_content=QC_IMG&index=0" height=500>
					  </A>
				     </TD>	
				</TR>
                        #end
                    #end
				#end
				<!-- -->
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN AMCZ0:qMRIData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_1_NUM_ROWS=$item.getChildItems("AMCZ0:qMRIData/in/file").size() - 1)
							#if($xnat_abstractResource_1_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_1_COUNTER in [0..$xnat_abstractResource_1_NUM_ROWS])
<!-- BEGIN AMCZ0:qMRIData/in/file[$xnat_abstractResource_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:qMRIData/in/file[$xnat_abstractResource_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/in/file[$xnat_abstractResource_1_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/in/file[$xnat_abstractResource_1_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("AMCZ0:qMRIData/in/file[$xnat_abstractResource_1_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("AMCZ0:qMRIData/in/file[$xnat_abstractResource_1_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_2_NUM_ROWS=$item.getChildItems("AMCZ0:qMRIData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_2_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_2_COUNTER in [0..$xnat_abstractResource_tag_2_NUM_ROWS])
<!-- BEGIN AMCZ0:qMRIData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:qMRIData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END AMCZ0:qMRIData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END AMCZ0:qMRIData/in/file[$xnat_abstractResource_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_3_NUM_ROWS=$item.getChildItems("AMCZ0:qMRIData/out/file").size() - 1)
							#if($xnat_abstractResource_3_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_3_COUNTER in [0..$xnat_abstractResource_3_NUM_ROWS])
<!-- BEGIN AMCZ0:qMRIData/out/file[$xnat_abstractResource_3_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:qMRIData/out/file[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/out/file[$xnat_abstractResource_3_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/out/file[$xnat_abstractResource_3_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("AMCZ0:qMRIData/out/file[$xnat_abstractResource_3_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("AMCZ0:qMRIData/out/file[$xnat_abstractResource_3_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_4_NUM_ROWS=$item.getChildItems("AMCZ0:qMRIData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_4_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_4_COUNTER in [0..$xnat_abstractResource_tag_4_NUM_ROWS])
<!-- BEGIN AMCZ0:qMRIData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:qMRIData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END AMCZ0:qMRIData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END AMCZ0:qMRIData/out/file[$xnat_abstractResource_3_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_addField_5_NUM_ROWS=$item.getChildItems("AMCZ0:qMRIData/parameters/addParam").size() - 1)
							#if($xnat_addField_5_NUM_ROWS>=0)
								#foreach($xnat_addField_5_COUNTER in [0..$xnat_addField_5_NUM_ROWS])
<!-- BEGIN AMCZ0:qMRIData/parameters/addParam[$xnat_addField_5_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:qMRIData/parameters/addParam[$xnat_addField_5_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>addField</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/parameters/addParam[$xnat_addField_5_COUNTER]/addField")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/parameters/addParam[$xnat_addField_5_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END AMCZ0:qMRIData/parameters/addParam[$xnat_addField_5_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN AMCZ0:qMRIData/provenance -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:qMRIData/provenance</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE><TR><TD>
										#set($prov_processStep_7_NUM_ROWS=$item.getChildItems("AMCZ0:qMRIData/provenance/processStep").size() - 1)
										#if($prov_processStep_7_NUM_ROWS>=0)
											#foreach($prov_processStep_7_COUNTER in [0..$prov_processStep_7_NUM_ROWS])
<!-- BEGIN AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER] -->
												<TABLE>
													<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER]</font></TH></TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE>
																<TR><TD>program</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER]/program")</TD></TR>
																<TR><TD>program/version</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER]/program/version")</TD></TR>
																<TR><TD>program/arguments</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER]/program/arguments")</TD></TR>
																<TR><TD>timestamp</TD><TD>$!item.getProperty("AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER]/timestamp")</TD></TR>
																<TR><TD>cvs</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER]/cvs")</TD></TR>
																<TR><TD>user</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER]/user")</TD></TR>
																<TR><TD>machine</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER]/machine")</TD></TR>
																<TR><TD>platform</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER]/platform")</TD></TR>
																<TR><TD>platform/version</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER]/platform/version")</TD></TR>
																<TR><TD>compiler</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER]/compiler")</TD></TR>
																<TR><TD>compiler/version</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER]/compiler/version")</TD></TR>
															</TABLE>
														</TD>
													</TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE><TR><TD>
																#set($prov_processStep_library_8_NUM_ROWS=$item.getChildItems("AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER]/library").size() - 1)
																#if($prov_processStep_library_8_NUM_ROWS>=0)
																	#foreach($prov_processStep_library_8_COUNTER in [0..$prov_processStep_library_8_NUM_ROWS])
<!-- BEGIN AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER] -->
																		<TABLE>
																			<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]</font></TH></TR>
																			<TR>
																				<TD align="left" valign="top">
																					<TABLE>
																						<TR><TD>library</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]/library")</TD></TR>
																						<TR><TD>version</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]/version")</TD></TR>
																					</TABLE>
																				</TD>
																			</TR>
																		</TABLE>
<!-- END AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER] -->
																	#end
																#end
															</TD></TR></TABLE>
														</TD>
													</TR>
												</TABLE>
<!-- END AMCZ0:qMRIData/provenance/processStep[$prov_processStep_7_COUNTER] -->
											#end
										#end
									</TD></TR></TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END AMCZ0:qMRIData/provenance -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_9_NUM_ROWS=$item.getChildItems("AMCZ0:qMRIData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_9_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_9_COUNTER in [0..$xnat_experimentData_share_9_NUM_ROWS])
<!-- BEGIN AMCZ0:qMRIData/sharing/share[$xnat_experimentData_share_9_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:qMRIData/sharing/share[$xnat_experimentData_share_9_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/sharing/share[$xnat_experimentData_share_9_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/sharing/share[$xnat_experimentData_share_9_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/sharing/share[$xnat_experimentData_share_9_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/sharing/share[$xnat_experimentData_share_9_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/sharing/share[$xnat_experimentData_share_9_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END AMCZ0:qMRIData/sharing/share[$xnat_experimentData_share_9_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_12_NUM_ROWS=$item.getChildItems("AMCZ0:qMRIData/resources/resource").size() - 1)
							#if($xnat_abstractResource_12_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_12_COUNTER in [0..$xnat_abstractResource_12_NUM_ROWS])
<!-- BEGIN AMCZ0:qMRIData/resources/resource[$xnat_abstractResource_12_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:qMRIData/resources/resource[$xnat_abstractResource_12_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/resources/resource[$xnat_abstractResource_12_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/resources/resource[$xnat_abstractResource_12_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("AMCZ0:qMRIData/resources/resource[$xnat_abstractResource_12_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("AMCZ0:qMRIData/resources/resource[$xnat_abstractResource_12_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_13_NUM_ROWS=$item.getChildItems("AMCZ0:qMRIData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_13_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_13_COUNTER in [0..$xnat_abstractResource_tag_13_NUM_ROWS])
<!-- BEGIN AMCZ0:qMRIData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:qMRIData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END AMCZ0:qMRIData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END AMCZ0:qMRIData/resources/resource[$xnat_abstractResource_12_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_14_NUM_ROWS=$item.getChildItems("AMCZ0:qMRIData/fields/field").size() - 1)
							#if($xnat_experimentData_field_14_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_14_COUNTER in [0..$xnat_experimentData_field_14_NUM_ROWS])
<!-- BEGIN AMCZ0:qMRIData/fields/field[$xnat_experimentData_field_14_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:qMRIData/fields/field[$xnat_experimentData_field_14_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/fields/field[$xnat_experimentData_field_14_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("AMCZ0:qMRIData/fields/field[$xnat_experimentData_field_14_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END AMCZ0:qMRIData/fields/field[$xnat_experimentData_field_14_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END AMCZ0:qMRIData -->
		</TD>
	</TR>
</TABLE>
