<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("corticalThick Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>Cortical Thickness details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>scan/ID</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/scan/ID")</TD></TR>
							<TR><TD>scan/type</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/scan/type")</TD></TR>
							<TR><TD>imageSession ID</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/imageSession_ID")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("COBRA:corticalThicknessData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("COBRA:corticalThicknessData/time")</TD></TR>
							<!--
                            <TR><TD>duration</TD><TD>$!item.getProperty("COBRA:corticalThicknessData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("COBRA:corticalThicknessData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/delay/ref_expt_id")</TD></TR>
							-->
                            <TR><TD>note</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/note")</TD></TR>
							<TR><TD>acquisition site</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/project")</TD></TR>
							<!--
                            <TR><TD>visit_id</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/visit")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/original")</TD></TR>
                            -->
                            <TR><TD>version</TD><TD>$!item.getIntegerProperty("COBRA:corticalThicknessData/version")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/label")</TD></TR>
                            <TR><TD>&nbsp;</TD><TD></TD></TR>
							<TR><TD>left hemisphere cortical thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_MeanThickness_thickness")</TD></TR>
							<TR><TD>right hemisphere cortical thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_MeanThickness_thickness")</TD></TR>
							<TR><TD>Cerebellum white matter - left (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Left-Cerebellum-White-Matter")</TD></TR>
							<TR><TD>Cerebellum grey matter - left (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Left-Cerebellum-Cortex")</TD></TR>
							<TR><TD>Thalamus - left (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Left-Thalamus-Proper")</TD></TR>
							<TR><TD>Caudate - left (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Left-Caudate")</TD></TR>
							<TR><TD>Putamen - left (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Left-Putamen")</TD></TR>
							<TR><TD>Pallidum - left (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Left-Pallidum")</TD></TR>
							<TR><TD>Brain stem (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Brain-Stem")</TD></TR>
							<TR><TD>Hippcampus - left (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Left-Hippocampus")</TD></TR>
							<TR><TD>Amgydala - left (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Left-Amygdala")</TD></TR>
							<TR><TD>Nucleus Accumbens - left (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Left-Accumbens-area")</TD></TR>
							<TR><TD>Ventral diencephalon - left (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Left-VentralDC")</TD></TR>
							<TR><TD>Cerebellum white matter - right (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Right-Cerebellum-White-Matter")</TD></TR>
							<TR><TD>Cerebellum grey matter - right (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Right-Cerebellum-Cortex")</TD></TR>
							<TR><TD>Thalamus - right (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Right-Thalamus-Proper")</TD></TR>
							<TR><TD>Caudate - right (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Right-Caudate")</TD></TR>
							<TR><TD>Putamen - right (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Right-Putamen")</TD></TR>
							<TR><TD>Pallidum - right (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Right-Pallidum")</TD></TR>
							<TR><TD>Hippcampus - right (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Right-Hippocampus")</TD></TR>
							<TR><TD>Amgydala - right (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Right-Amygdala")</TD></TR>
							<TR><TD>Nucleus Accumbens - right (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Right-Accumbens-area")</TD></TR>
							<TR><TD>Ventral diencephalon - right (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Right-VentralDC")</TD></TR>
							<TR><TD>Optic chiasm (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/Optic-Chiasm")</TD></TR>
							<TR><TD>Corpus callosum - posterior (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/CC_Posterior")</TD></TR>
							<TR><TD>Corpus callosum - mid posterior (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/CC_Mid_Posterior")</TD></TR>
							<TR><TD>Corpus callosum - centre (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/CC_Central")</TD></TR>
							<TR><TD>Corpus callosum - mid anterior (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/CC_Mid_Anterior")</TD></TR>
							<TR><TD>Corpus callosum - anterior (mm^3)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/CC_Anterior")</TD></TR>
							<TR><TD>left hemisphere cortical parcellation ROIs (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_and_S_frontomargin_thickness")</TD></TR>
							<TR><TD>lh_G_and_S_occipital_inf_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_and_S_occipital_inf_thickness")</TD></TR>
							<TR><TD>lh_G_and_S_paracentral_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_and_S_paracentral_thickness")</TD></TR>
							<TR><TD>lh_G_and_S_subcentral_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_and_S_subcentral_thickness")</TD></TR>
							<TR><TD>lh_G_and_S_transv_frontopol_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_and_S_transv_frontopol_thickness")</TD></TR>
							<TR><TD>lh_G_and_S_cingul-Ant_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_and_S_cingul-Ant_thickness")</TD></TR>
							<TR><TD>lh_G_and_S_cingul-Mid-Ant_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_and_S_cingul-Mid-Ant_thickness")</TD></TR>
							<TR><TD>lh_G_and_S_cingul-Mid-Post_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_and_S_cingul-Mid-Post_thickness")</TD></TR>
							<TR><TD>lh_G_cingul-Post-dorsal_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_cingul-Post-dorsal_thickness")</TD></TR>
							<TR><TD>lh_G_cingul-Post-ventral_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_cingul-Post-ventral_thickness")</TD></TR>
							<TR><TD>lh_G_cuneus_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_cuneus_thickness")</TD></TR>
							<TR><TD>lh_G_front_inf-Opercular_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_front_inf-Opercular_thickness")</TD></TR>
							<TR><TD>lh_G_front_inf-Orbital_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_front_inf-Orbital_thickness")</TD></TR>
							<TR><TD>lh_G_front_inf-Triangul_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_front_inf-Triangul_thickness")</TD></TR>
							<TR><TD>lh_G_front_middle_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_front_middle_thickness")</TD></TR>
							<TR><TD>lh_G_front_sup_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_front_sup_thickness")</TD></TR>
							<TR><TD>lh_G_Ins_lg_and_S_cent_ins_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_Ins_lg_and_S_cent_ins_thickness")</TD></TR>
							<TR><TD>lh_G_insular_short_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_insular_short_thickness")</TD></TR>
							<TR><TD>lh_G_occipital_middle_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_occipital_middle_thickness")</TD></TR>
							<TR><TD>lh_G_occipital_sup_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_occipital_sup_thickness")</TD></TR>
							<TR><TD>lh_G_oc-temp_lat-fusifor_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_oc-temp_lat-fusifor_thickness")</TD></TR>
							<TR><TD>lh_G_oc-temp_med-Lingual_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_oc-temp_med-Lingual_thickness")</TD></TR>
							<TR><TD>lh_G_oc-temp_med-Parahip_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_oc-temp_med-Parahip_thickness")</TD></TR>
							<TR><TD>lh_G_orbital_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_orbital_thickness")</TD></TR>
							<TR><TD>lh_G_pariet_inf-Angular_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_pariet_inf-Angular_thickness")</TD></TR>
							<TR><TD>lh_G_pariet_inf-Supramar_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_pariet_inf-Supramar_thickness")</TD></TR>
							<TR><TD>lh_G_parietal_sup_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_parietal_sup_thickness")</TD></TR>
							<TR><TD>lh_G_postcentral_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_postcentral_thickness")</TD></TR>
							<TR><TD>lh_G_precentral_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_precentral_thickness")</TD></TR>
							<TR><TD>lh_G_precuneus_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_precuneus_thickness")</TD></TR>
							<TR><TD>lh_G_rectus_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_rectus_thickness")</TD></TR>
							<TR><TD>lh_G_subcallosal_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_subcallosal_thickness")</TD></TR>
							<TR><TD>lh_G_temp_sup-G_T_transv_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_temp_sup-G_T_transv_thickness")</TD></TR>
							<TR><TD>lh_G_temp_sup-Lateral_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_temp_sup-Lateral_thickness")</TD></TR>
							<TR><TD>lh_G_temp_sup-Plan_polar_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_temp_sup-Plan_polar_thickness")</TD></TR>
							<TR><TD>lh_G_temp_sup-Plan_tempo_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_temp_sup-Plan_tempo_thickness")</TD></TR>
							<TR><TD>lh_G_temporal_inf_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_temporal_inf_thickness")</TD></TR>
							<TR><TD>lh_G_temporal_middle_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_G_temporal_middle_thickness")</TD></TR>
							<TR><TD>lh_Lat_Fis-ant-Horizont_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_Lat_Fis-ant-Horizont_thickness")</TD></TR>
							<TR><TD>lh_Lat_Fis-ant-Vertical_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_Lat_Fis-ant-Vertical_thickness")</TD></TR>
							<TR><TD>lh_Lat_Fis-post_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_Lat_Fis-post_thickness")</TD></TR>
							<TR><TD>lh_Pole_occipital_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_Pole_occipital_thickness")</TD></TR>
							<TR><TD>lh_Pole_temporal_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_Pole_temporal_thickness")</TD></TR>
							<TR><TD>lh_S_calcarine_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_calcarine_thickness")</TD></TR>
							<TR><TD>lh_S_central_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_central_thickness")</TD></TR>
							<TR><TD>lh_S_cingul-Marginalis_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_cingul-Marginalis_thickness")</TD></TR>
							<TR><TD>lh_S_circular_insula_ant_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_circular_insula_ant_thickness")</TD></TR>
							<TR><TD>lh_S_circular_insula_inf_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_circular_insula_inf_thickness")</TD></TR>
							<TR><TD>lh_S_circular_insula_sup_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_circular_insula_sup_thickness")</TD></TR>
							<TR><TD>lh_S_collat_transv_ant_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_collat_transv_ant_thickness")</TD></TR>
							<TR><TD>lh_S_collat_transv_post_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_collat_transv_post_thickness")</TD></TR>
							<TR><TD>lh_S_front_inf_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_front_inf_thickness")</TD></TR>
							<TR><TD>lh_S_front_middle_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_front_middle_thickness")</TD></TR>
							<TR><TD>lh_S_front_sup_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_front_sup_thickness")</TD></TR>
							<TR><TD>lh_S_interm_prim-Jensen_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_interm_prim-Jensen_thickness")</TD></TR>
							<TR><TD>lh_S_intrapariet_and_P_trans_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_intrapariet_and_P_trans_thickness")</TD></TR>
							<TR><TD>lh_S_oc_middle_and_Lunatus_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_oc_middle_and_Lunatus_thickness")</TD></TR>
							<TR><TD>lh_S_oc_sup_and_transversal_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_oc_sup_and_transversal_thickness")</TD></TR>
							<TR><TD>lh_S_occipital_ant_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_occipital_ant_thickness")</TD></TR>
							<TR><TD>lh_S_oc-temp_lat_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_oc-temp_lat_thickness")</TD></TR>
							<TR><TD>lh_S_oc-temp_med_and_Lingual_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_oc-temp_med_and_Lingual_thickness")</TD></TR>
							<TR><TD>lh_S_orbital_lateral_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_orbital_lateral_thickness")</TD></TR>
							<TR><TD>lh_S_orbital_med-olfact_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_orbital_med-olfact_thickness")</TD></TR>
							<TR><TD>lh_S_orbital-H_Shaped_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_orbital-H_Shaped_thickness")</TD></TR>
							<TR><TD>lh_S_parieto_occipital_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_parieto_occipital_thickness")</TD></TR>
							<TR><TD>lh_S_pericallosal_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_pericallosal_thickness")</TD></TR>
							<TR><TD>lh_S_postcentral_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_postcentral_thickness")</TD></TR>
							<TR><TD>lh_S_precentral-inf-part_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_precentral-inf-part_thickness")</TD></TR>
							<TR><TD>lh_S_precentral-sup-part_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_precentral-sup-part_thickness")</TD></TR>
							<TR><TD>lh_S_suborbital_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_suborbital_thickness")</TD></TR>
							<TR><TD>lh_S_subparietal_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_subparietal_thickness")</TD></TR>
							<TR><TD>lh_S_temporal_inf_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_temporal_inf_thickness")</TD></TR>
							<TR><TD>lh_S_temporal_sup_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_temporal_sup_thickness")</TD></TR>
							<TR><TD>lh_S_temporal_transverse_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/lh_S_temporal_transverse_thickness")</TD></TR>
							<TR><TD>right hemisphere cortical parcellation ROIs (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_and_S_frontomargin_thickness")</TD></TR>
							<TR><TD>rh_G_and_S_occipital_inf_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_and_S_occipital_inf_thickness")</TD></TR>
							<TR><TD>rh_G_and_S_paracentral_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_and_S_paracentral_thickness")</TD></TR>
							<TR><TD>rh_G_and_S_subcentral_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_and_S_subcentral_thickness")</TD></TR>
							<TR><TD>rh_G_and_S_transv_frontopol_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_and_S_transv_frontopol_thickness")</TD></TR>
							<TR><TD>rh_G_and_S_cingul-Ant_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_and_S_cingul-Ant_thickness")</TD></TR>
							<TR><TD>rh_G_and_S_cingul-Mid-Ant_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_and_S_cingul-Mid-Ant_thickness")</TD></TR>
							<TR><TD>rh_G_and_S_cingul-Mid-Post_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_and_S_cingul-Mid-Post_thickness")</TD></TR>
							<TR><TD>rh_G_cingul-Post-dorsal_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_cingul-Post-dorsal_thickness")</TD></TR>
							<TR><TD>rh_G_cingul-Post-ventral_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_cingul-Post-ventral_thickness")</TD></TR>
							<TR><TD>rh_G_cuneus_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_cuneus_thickness")</TD></TR>
							<TR><TD>rh_G_front_inf-Opercular_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_front_inf-Opercular_thickness")</TD></TR>
							<TR><TD>rh_G_front_inf-Orbital_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_front_inf-Orbital_thickness")</TD></TR>
							<TR><TD>rh_G_front_inf-Triangul_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_front_inf-Triangul_thickness")</TD></TR>
							<TR><TD>rh_G_front_middle_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_front_middle_thickness")</TD></TR>
							<TR><TD>rh_G_front_sup_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_front_sup_thickness")</TD></TR>
							<TR><TD>rh_G_Ins_lg_and_S_cent_ins_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_Ins_lg_and_S_cent_ins_thickness")</TD></TR>
							<TR><TD>rh_G_insular_short_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_insular_short_thickness")</TD></TR>
							<TR><TD>rh_G_occipital_middle_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_occipital_middle_thickness")</TD></TR>
							<TR><TD>rh_G_occipital_sup_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_occipital_sup_thickness")</TD></TR>
							<TR><TD>rh_G_oc-temp_lat-fusifor_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_oc-temp_lat-fusifor_thickness")</TD></TR>
							<TR><TD>rh_G_oc-temp_med-Lingual_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_oc-temp_med-Lingual_thickness")</TD></TR>
							<TR><TD>rh_G_oc-temp_med-Parahip_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_oc-temp_med-Parahip_thickness")</TD></TR>
							<TR><TD>rh_G_orbital_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_orbital_thickness")</TD></TR>
							<TR><TD>rh_G_pariet_inf-Angular_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_pariet_inf-Angular_thickness")</TD></TR>
							<TR><TD>rh_G_pariet_inf-Supramar_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_pariet_inf-Supramar_thickness")</TD></TR>
							<TR><TD>rh_G_parietal_sup_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_parietal_sup_thickness")</TD></TR>
							<TR><TD>rh_G_postcentral_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_postcentral_thickness")</TD></TR>
							<TR><TD>rh_G_precentral_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_precentral_thickness")</TD></TR>
							<TR><TD>rh_G_precuneus_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_precuneus_thickness")</TD></TR>
							<TR><TD>rh_G_rectus_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_rectus_thickness")</TD></TR>
							<TR><TD>rh_G_subcallosal_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_subcallosal_thickness")</TD></TR>
							<TR><TD>rh_G_temp_sup-G_T_transv_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_temp_sup-G_T_transv_thickness")</TD></TR>
							<TR><TD>rh_G_temp_sup-Lateral_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_temp_sup-Lateral_thickness")</TD></TR>
							<TR><TD>rh_G_temp_sup-Plan_polar_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_temp_sup-Plan_polar_thickness")</TD></TR>
							<TR><TD>rh_G_temp_sup-Plan_tempo_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_temp_sup-Plan_tempo_thickness")</TD></TR>
							<TR><TD>rh_G_temporal_inf_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_temporal_inf_thickness")</TD></TR>
							<TR><TD>rh_G_temporal_middle_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_G_temporal_middle_thickness")</TD></TR>
							<TR><TD>rh_Lat_Fis-ant-Horizont_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_Lat_Fis-ant-Horizont_thickness")</TD></TR>
							<TR><TD>rh_Lat_Fis-ant-Vertical_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_Lat_Fis-ant-Vertical_thickness")</TD></TR>
							<TR><TD>rh_Lat_Fis-post_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_Lat_Fis-post_thickness")</TD></TR>
							<TR><TD>rh_Pole_occipital_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_Pole_occipital_thickness")</TD></TR>
							<TR><TD>rh_Pole_temporal_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_Pole_temporal_thickness")</TD></TR>
							<TR><TD>rh_S_calcarine_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_calcarine_thickness")</TD></TR>
							<TR><TD>rh_S_central_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_central_thickness")</TD></TR>
							<TR><TD>rh_S_cingul-Marginalis_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_cingul-Marginalis_thickness")</TD></TR>
							<TR><TD>rh_S_circular_insula_ant_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_circular_insula_ant_thickness")</TD></TR>
							<TR><TD>rh_S_circular_insula_inf_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_circular_insula_inf_thickness")</TD></TR>
							<TR><TD>rh_S_circular_insula_sup_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_circular_insula_sup_thickness")</TD></TR>
							<TR><TD>rh_S_collat_transv_ant_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_collat_transv_ant_thickness")</TD></TR>
							<TR><TD>rh_S_collat_transv_post_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_collat_transv_post_thickness")</TD></TR>
							<TR><TD>rh_S_front_inf_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_front_inf_thickness")</TD></TR>
							<TR><TD>rh_S_front_middle_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_front_middle_thickness")</TD></TR>
							<TR><TD>rh_S_front_sup_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_front_sup_thickness")</TD></TR>
							<TR><TD>rh_S_interm_prim-Jensen_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_interm_prim-Jensen_thickness")</TD></TR>
							<TR><TD>rh_S_intrapariet_and_P_trans_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_intrapariet_and_P_trans_thickness")</TD></TR>
							<TR><TD>rh_S_oc_middle_and_Lunatus_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_oc_middle_and_Lunatus_thickness")</TD></TR>
							<TR><TD>rh_S_oc_sup_and_transversal_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_oc_sup_and_transversal_thickness")</TD></TR>
							<TR><TD>rh_S_occipital_ant_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_occipital_ant_thickness")</TD></TR>
							<TR><TD>rh_S_oc-temp_lat_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_oc-temp_lat_thickness")</TD></TR>
							<TR><TD>rh_S_oc-temp_med_and_Lingual_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_oc-temp_med_and_Lingual_thickness")</TD></TR>
							<TR><TD>rh_S_orbital_lateral_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_orbital_lateral_thickness")</TD></TR>
							<TR><TD>rh_S_orbital_med-olfact_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_orbital_med-olfact_thickness")</TD></TR>
							<TR><TD>rh_S_orbital-H_Shaped_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_orbital-H_Shaped_thickness")</TD></TR>
							<TR><TD>rh_S_parieto_occipital_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_parieto_occipital_thickness")</TD></TR>
							<TR><TD>rh_S_pericallosal_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_pericallosal_thickness")</TD></TR>
							<TR><TD>rh_S_postcentral_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_postcentral_thickness")</TD></TR>
							<TR><TD>rh_S_precentral-inf-part_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_precentral-inf-part_thickness")</TD></TR>
							<TR><TD>rh_S_precentral-sup-part_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_precentral-sup-part_thickness")</TD></TR>
							<TR><TD>rh_S_suborbital_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_suborbital_thickness")</TD></TR>
							<TR><TD>rh_S_subparietal_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_subparietal_thickness")</TD></TR>
							<TR><TD>rh_S_temporal_inf_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_temporal_inf_thickness")</TD></TR>
							<TR><TD>rh_S_temporal_sup_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_temporal_sup_thickness")</TD></TR>
							<TR><TD>rh_S_temporal_transverse_thickness (mm)</TD><TD>$!item.getDoubleProperty("COBRA:corticalThicknessData/rh_S_temporal_transverse_thickness")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN COBRA:corticalThicknessData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_1_NUM_ROWS=$item.getChildItems("COBRA:corticalThicknessData/in/file").size() - 1)
							#if($xnat_abstractResource_1_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_1_COUNTER in [0..$xnat_abstractResource_1_NUM_ROWS])
<!-- BEGIN COBRA:corticalThicknessData/in/file[$xnat_abstractResource_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">COBRA:corticalThicknessData/in/file[$xnat_abstractResource_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/in/file[$xnat_abstractResource_1_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/in/file[$xnat_abstractResource_1_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("COBRA:corticalThicknessData/in/file[$xnat_abstractResource_1_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("COBRA:corticalThicknessData/in/file[$xnat_abstractResource_1_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_2_NUM_ROWS=$item.getChildItems("COBRA:corticalThicknessData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_2_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_2_COUNTER in [0..$xnat_abstractResource_tag_2_NUM_ROWS])
<!-- BEGIN COBRA:corticalThicknessData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">COBRA:corticalThicknessData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END COBRA:corticalThicknessData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END COBRA:corticalThicknessData/in/file[$xnat_abstractResource_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_3_NUM_ROWS=$item.getChildItems("COBRA:corticalThicknessData/out/file").size() - 1)
							#if($xnat_abstractResource_3_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_3_COUNTER in [0..$xnat_abstractResource_3_NUM_ROWS])
<!-- BEGIN COBRA:corticalThicknessData/out/file[$xnat_abstractResource_3_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">COBRA:corticalThicknessData/out/file[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/out/file[$xnat_abstractResource_3_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/out/file[$xnat_abstractResource_3_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("COBRA:corticalThicknessData/out/file[$xnat_abstractResource_3_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("COBRA:corticalThicknessData/out/file[$xnat_abstractResource_3_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_4_NUM_ROWS=$item.getChildItems("COBRA:corticalThicknessData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_4_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_4_COUNTER in [0..$xnat_abstractResource_tag_4_NUM_ROWS])
<!-- BEGIN COBRA:corticalThicknessData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">COBRA:corticalThicknessData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END COBRA:corticalThicknessData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END COBRA:corticalThicknessData/out/file[$xnat_abstractResource_3_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_addField_5_NUM_ROWS=$item.getChildItems("COBRA:corticalThicknessData/parameters/addParam").size() - 1)
							#if($xnat_addField_5_NUM_ROWS>=0)
								#foreach($xnat_addField_5_COUNTER in [0..$xnat_addField_5_NUM_ROWS])
<!-- BEGIN COBRA:corticalThicknessData/parameters/addParam[$xnat_addField_5_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">COBRA:corticalThicknessData/parameters/addParam[$xnat_addField_5_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>addField</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/parameters/addParam[$xnat_addField_5_COUNTER]/addField")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/parameters/addParam[$xnat_addField_5_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END COBRA:corticalThicknessData/parameters/addParam[$xnat_addField_5_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN COBRA:corticalThicknessData/provenance -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">COBRA:corticalThicknessData/provenance</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE><TR><TD>
										#set($prov_processStep_7_NUM_ROWS=$item.getChildItems("COBRA:corticalThicknessData/provenance/processStep").size() - 1)
										#if($prov_processStep_7_NUM_ROWS>=0)
											#foreach($prov_processStep_7_COUNTER in [0..$prov_processStep_7_NUM_ROWS])
<!-- BEGIN COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER] -->
												<TABLE>
													<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER]</font></TH></TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE>
																<TR><TD>program</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER]/program")</TD></TR>
																<TR><TD>program/version</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER]/program/version")</TD></TR>
																<TR><TD>program/arguments</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER]/program/arguments")</TD></TR>
																<TR><TD>timestamp</TD><TD>$!item.getProperty("COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER]/timestamp")</TD></TR>
																<TR><TD>cvs</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER]/cvs")</TD></TR>
																<TR><TD>user</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER]/user")</TD></TR>
																<TR><TD>machine</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER]/machine")</TD></TR>
																<TR><TD>platform</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER]/platform")</TD></TR>
																<TR><TD>platform/version</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER]/platform/version")</TD></TR>
																<TR><TD>compiler</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER]/compiler")</TD></TR>
																<TR><TD>compiler/version</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER]/compiler/version")</TD></TR>
															</TABLE>
														</TD>
													</TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE><TR><TD>
																#set($prov_processStep_library_8_NUM_ROWS=$item.getChildItems("COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER]/library").size() - 1)
																#if($prov_processStep_library_8_NUM_ROWS>=0)
																	#foreach($prov_processStep_library_8_COUNTER in [0..$prov_processStep_library_8_NUM_ROWS])
<!-- BEGIN COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER] -->
																		<TABLE>
																			<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]</font></TH></TR>
																			<TR>
																				<TD align="left" valign="top">
																					<TABLE>
																						<TR><TD>library</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]/library")</TD></TR>
																						<TR><TD>version</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]/version")</TD></TR>
																					</TABLE>
																				</TD>
																			</TR>
																		</TABLE>
<!-- END COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER] -->
																	#end
																#end
															</TD></TR></TABLE>
														</TD>
													</TR>
												</TABLE>
<!-- END COBRA:corticalThicknessData/provenance/processStep[$prov_processStep_7_COUNTER] -->
											#end
										#end
									</TD></TR></TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END COBRA:corticalThicknessData/provenance -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_9_NUM_ROWS=$item.getChildItems("COBRA:corticalThicknessData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_9_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_9_COUNTER in [0..$xnat_experimentData_share_9_NUM_ROWS])
<!-- BEGIN COBRA:corticalThicknessData/sharing/share[$xnat_experimentData_share_9_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">COBRA:corticalThicknessData/sharing/share[$xnat_experimentData_share_9_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/sharing/share[$xnat_experimentData_share_9_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/sharing/share[$xnat_experimentData_share_9_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/sharing/share[$xnat_experimentData_share_9_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/sharing/share[$xnat_experimentData_share_9_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/sharing/share[$xnat_experimentData_share_9_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END COBRA:corticalThicknessData/sharing/share[$xnat_experimentData_share_9_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_12_NUM_ROWS=$item.getChildItems("COBRA:corticalThicknessData/resources/resource").size() - 1)
							#if($xnat_abstractResource_12_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_12_COUNTER in [0..$xnat_abstractResource_12_NUM_ROWS])
<!-- BEGIN COBRA:corticalThicknessData/resources/resource[$xnat_abstractResource_12_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">COBRA:corticalThicknessData/resources/resource[$xnat_abstractResource_12_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/resources/resource[$xnat_abstractResource_12_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/resources/resource[$xnat_abstractResource_12_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("COBRA:corticalThicknessData/resources/resource[$xnat_abstractResource_12_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("COBRA:corticalThicknessData/resources/resource[$xnat_abstractResource_12_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_13_NUM_ROWS=$item.getChildItems("COBRA:corticalThicknessData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_13_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_13_COUNTER in [0..$xnat_abstractResource_tag_13_NUM_ROWS])
<!-- BEGIN COBRA:corticalThicknessData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">COBRA:corticalThicknessData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END COBRA:corticalThicknessData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END COBRA:corticalThicknessData/resources/resource[$xnat_abstractResource_12_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_14_NUM_ROWS=$item.getChildItems("COBRA:corticalThicknessData/fields/field").size() - 1)
							#if($xnat_experimentData_field_14_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_14_COUNTER in [0..$xnat_experimentData_field_14_NUM_ROWS])
<!-- BEGIN COBRA:corticalThicknessData/fields/field[$xnat_experimentData_field_14_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">COBRA:corticalThicknessData/fields/field[$xnat_experimentData_field_14_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/fields/field[$xnat_experimentData_field_14_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("COBRA:corticalThicknessData/fields/field[$xnat_experimentData_field_14_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END COBRA:corticalThicknessData/fields/field[$xnat_experimentData_field_14_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END COBRA:corticalThicknessData -->
		</TD>
	</TR>
</TABLE>
