<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("anatQA Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>anatomical QA Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>scan/ID</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/scan/ID")</TD></TR>
							<TR><TD>scan/type</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/scan/type")</TD></TR>
                            <TR><TD>imageSession_ID</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/imageSession_ID")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("AMCZ0:anatQAPData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("AMCZ0:anatQAPData/time")</TD></TR>
							<!--<TR><TD>duration</TD><TD>$!item.getProperty("AMCZ0:anatQAPData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("AMCZ0:anatQAPData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/delay/ref_expt_id")</TD></TR>-->
							<TR><TD>note</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/project")</TD></TR>
							<!--<TR><TD>visit_id</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/visit")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/original")</TD></TR>-->
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("AMCZ0:anatQAPData/version")</TD></TR>
                            <TR><TD>protocol</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/label")</TD></TR>
                            <TR><TD>&nbsp;</TD><TD></TD></TR>
                            <TR><TD><b>contrast-to-noise ratio (CNR)</b></TD><TD>$!item.getDoubleProperty("AMCZ0:anatQAPData/cnr")</TD></TR>
							<TR><TD><b>entropy focus criterion (EFC)</b></TD><TD>$!item.getDoubleProperty("AMCZ0:anatQAPData/efc")</TD></TR>
							<TR><TD><b>signal-to-noise ratio (SNR)</b></TD><TD>$!item.getDoubleProperty("AMCZ0:anatQAPData/snr")</TD></TR>
							<TR><TD><b>foreground to background energy ratio (FBER)</b></TD><TD>$!item.getDoubleProperty("AMCZ0:anatQAPData/fber")</TD></TR>
							<TR><TD><b>artifact detection (Qi1)</b></TD><TD>$!item.getDoubleProperty("AMCZ0:anatQAPData/qi1")</TD></TR>
							<TR><TD><b>gray matter mask (GM)</b></TD><TD></TD></TR>
                            <TR><TD>&nbsp;&nbsp;GM/mean</TD><TD>$!item.getDoubleProperty("AMCZ0:anatQAPData/gm/gm_mean")</TD></TR>
							<TR><TD>&nbsp;&nbsp;GM/size</TD><TD>$!item.getIntegerProperty("AMCZ0:anatQAPData/gm/gm_size")</TD></TR>
							<TR><TD>&nbsp;&nbsp;GM/stddev</TD><TD>$!item.getDoubleProperty("AMCZ0:anatQAPData/gm/gm_std")</TD></TR>
							<TR><TD><b>white matter mask (WM)</b></TD><TD></TD></TR>
                            <TR><TD>&nbsp;&nbsp;WM/mean</TD><TD>$!item.getDoubleProperty("AMCZ0:anatQAPData/wm/wm_mean")</TD></TR>
							<TR><TD>&nbsp;&nbsp;WM/size</TD><TD>$!item.getIntegerProperty("AMCZ0:anatQAPData/wm/wm_size")</TD></TR>
							<TR><TD>&nbsp;&nbsp;WM/stddev</TD><TD>$!item.getDoubleProperty("AMCZ0:anatQAPData/wm/wm_std")</TD></TR>
                            <TR><TD><b>cerebrospinal fluid mask (CSF)</b></TD><TD></TD></TR>
							<TR><TD>&nbsp;&nbsp;CSF/mean</TD><TD>$!item.getDoubleProperty("AMCZ0:anatQAPData/csf/csf_mean")</TD></TR>
							<TR><TD>&nbsp;&nbsp;CSF/size</TD><TD>$!item.getIntegerProperty("AMCZ0:anatQAPData/csf/csf_size")</TD></TR>
							<TR><TD>&nbsp;&nbsp;CSF/stddev</TD><TD>$!item.getDoubleProperty("AMCZ0:anatQAPData/csf/csf_std")</TD></TR>
                            <TR><TD><b>foreground mask (FG)</b></TD><TD></TD></TR>
							<TR><TD>&nbsp;&nbsp;FG/mean</TD><TD>$!item.getDoubleProperty("AMCZ0:anatQAPData/fg/fg_mean")</TD></TR>
							<TR><TD>&nbsp;&nbsp;FG/size</TD><TD>$!item.getIntegerProperty("AMCZ0:anatQAPData/fg/fg_size")</TD></TR>
							<TR><TD>&nbsp;&nbsp;FG/stddev</TD><TD>$!item.getDoubleProperty("AMCZ0:anatQAPData/fg/fg_std")</TD></TR>
							<TR><TD><b>background mask (BG)</b></TD><TD></TD></TR>
                            <TR><TD>&nbsp;&nbsp;BG/mean</TD><TD>$!item.getDoubleProperty("AMCZ0:anatQAPData/bg/bg_mean")</TD></TR>
							<TR><TD>&nbsp;&nbsp;BG/size</TD><TD>$!item.getIntegerProperty("AMCZ0:anatQAPData/bg/bg_size")</TD></TR>
							<TR><TD>&nbsp;&nbsp;BG/stddev</TD><TD>$!item.getDoubleProperty("AMCZ0:anatQAPData/bg/bg_std")</TD></TR>
							<TR><TD><b>full-width half maximum (FWHM)</b></TD><TD>$!item.getDoubleProperty("AMCZ0:anatQAPData/fwhm")</TD></TR>
							<TR><TD>&nbsp;&nbsp;FWHM/axis X</TD><TD>$!item.getDoubleProperty("AMCZ0:anatQAPData/fwhm/fwhm_x")</TD></TR>
							<TR><TD>&nbsp;&nbsp;FWHM/axis Y</TD><TD>$!item.getDoubleProperty("AMCZ0:anatQAPData/fwhm/fwhm_y")</TD></TR>
							<TR><TD>&nbsp;&nbsp;FWHM/axis Z</TD><TD>$!item.getDoubleProperty("AMCZ0:anatQAPData/fwhm/fwhm_z")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN AMCZ0:anatQAPData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_1_NUM_ROWS=$item.getChildItems("AMCZ0:anatQAPData/in/file").size() - 1)
							#if($xnat_abstractResource_1_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_1_COUNTER in [0..$xnat_abstractResource_1_NUM_ROWS])
<!-- BEGIN AMCZ0:anatQAPData/in/file[$xnat_abstractResource_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:anatQAPData/in/file[$xnat_abstractResource_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/in/file[$xnat_abstractResource_1_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/in/file[$xnat_abstractResource_1_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("AMCZ0:anatQAPData/in/file[$xnat_abstractResource_1_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("AMCZ0:anatQAPData/in/file[$xnat_abstractResource_1_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_2_NUM_ROWS=$item.getChildItems("AMCZ0:anatQAPData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_2_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_2_COUNTER in [0..$xnat_abstractResource_tag_2_NUM_ROWS])
<!-- BEGIN AMCZ0:anatQAPData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:anatQAPData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END AMCZ0:anatQAPData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END AMCZ0:anatQAPData/in/file[$xnat_abstractResource_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_3_NUM_ROWS=$item.getChildItems("AMCZ0:anatQAPData/out/file").size() - 1)
							#if($xnat_abstractResource_3_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_3_COUNTER in [0..$xnat_abstractResource_3_NUM_ROWS])
<!-- BEGIN AMCZ0:anatQAPData/out/file[$xnat_abstractResource_3_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:anatQAPData/out/file[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/out/file[$xnat_abstractResource_3_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/out/file[$xnat_abstractResource_3_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("AMCZ0:anatQAPData/out/file[$xnat_abstractResource_3_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("AMCZ0:anatQAPData/out/file[$xnat_abstractResource_3_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_4_NUM_ROWS=$item.getChildItems("AMCZ0:anatQAPData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_4_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_4_COUNTER in [0..$xnat_abstractResource_tag_4_NUM_ROWS])
<!-- BEGIN AMCZ0:anatQAPData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:anatQAPData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END AMCZ0:anatQAPData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END AMCZ0:anatQAPData/out/file[$xnat_abstractResource_3_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_addField_5_NUM_ROWS=$item.getChildItems("AMCZ0:anatQAPData/parameters/addParam").size() - 1)
							#if($xnat_addField_5_NUM_ROWS>=0)
								#foreach($xnat_addField_5_COUNTER in [0..$xnat_addField_5_NUM_ROWS])
<!-- BEGIN AMCZ0:anatQAPData/parameters/addParam[$xnat_addField_5_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:anatQAPData/parameters/addParam[$xnat_addField_5_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>addField</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/parameters/addParam[$xnat_addField_5_COUNTER]/addField")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/parameters/addParam[$xnat_addField_5_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END AMCZ0:anatQAPData/parameters/addParam[$xnat_addField_5_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN AMCZ0:anatQAPData/provenance -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:anatQAPData/provenance</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE><TR><TD>
										#set($prov_processStep_7_NUM_ROWS=$item.getChildItems("AMCZ0:anatQAPData/provenance/processStep").size() - 1)
										#if($prov_processStep_7_NUM_ROWS>=0)
											#foreach($prov_processStep_7_COUNTER in [0..$prov_processStep_7_NUM_ROWS])
<!-- BEGIN AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER] -->
												<TABLE>
													<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER]</font></TH></TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE>
																<TR><TD>program</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER]/program")</TD></TR>
																<TR><TD>program/version</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER]/program/version")</TD></TR>
																<TR><TD>program/arguments</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER]/program/arguments")</TD></TR>
																<TR><TD>timestamp</TD><TD>$!item.getProperty("AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER]/timestamp")</TD></TR>
																<TR><TD>cvs</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER]/cvs")</TD></TR>
																<TR><TD>user</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER]/user")</TD></TR>
																<TR><TD>machine</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER]/machine")</TD></TR>
																<TR><TD>platform</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER]/platform")</TD></TR>
																<TR><TD>platform/version</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER]/platform/version")</TD></TR>
																<TR><TD>compiler</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER]/compiler")</TD></TR>
																<TR><TD>compiler/version</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER]/compiler/version")</TD></TR>
															</TABLE>
														</TD>
													</TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE><TR><TD>
																#set($prov_processStep_library_8_NUM_ROWS=$item.getChildItems("AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER]/library").size() - 1)
																#if($prov_processStep_library_8_NUM_ROWS>=0)
																	#foreach($prov_processStep_library_8_COUNTER in [0..$prov_processStep_library_8_NUM_ROWS])
<!-- BEGIN AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER] -->
																		<TABLE>
																			<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]</font></TH></TR>
																			<TR>
																				<TD align="left" valign="top">
																					<TABLE>
																						<TR><TD>library</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]/library")</TD></TR>
																						<TR><TD>version</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]/version")</TD></TR>
																					</TABLE>
																				</TD>
																			</TR>
																		</TABLE>
<!-- END AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER] -->
																	#end
																#end
															</TD></TR></TABLE>
														</TD>
													</TR>
												</TABLE>
<!-- END AMCZ0:anatQAPData/provenance/processStep[$prov_processStep_7_COUNTER] -->
											#end
										#end
									</TD></TR></TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END AMCZ0:anatQAPData/provenance -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_9_NUM_ROWS=$item.getChildItems("AMCZ0:anatQAPData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_9_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_9_COUNTER in [0..$xnat_experimentData_share_9_NUM_ROWS])
<!-- BEGIN AMCZ0:anatQAPData/sharing/share[$xnat_experimentData_share_9_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:anatQAPData/sharing/share[$xnat_experimentData_share_9_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/sharing/share[$xnat_experimentData_share_9_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/sharing/share[$xnat_experimentData_share_9_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/sharing/share[$xnat_experimentData_share_9_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/sharing/share[$xnat_experimentData_share_9_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/sharing/share[$xnat_experimentData_share_9_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END AMCZ0:anatQAPData/sharing/share[$xnat_experimentData_share_9_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_12_NUM_ROWS=$item.getChildItems("AMCZ0:anatQAPData/resources/resource").size() - 1)
							#if($xnat_abstractResource_12_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_12_COUNTER in [0..$xnat_abstractResource_12_NUM_ROWS])
<!-- BEGIN AMCZ0:anatQAPData/resources/resource[$xnat_abstractResource_12_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:anatQAPData/resources/resource[$xnat_abstractResource_12_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/resources/resource[$xnat_abstractResource_12_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/resources/resource[$xnat_abstractResource_12_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("AMCZ0:anatQAPData/resources/resource[$xnat_abstractResource_12_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("AMCZ0:anatQAPData/resources/resource[$xnat_abstractResource_12_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_13_NUM_ROWS=$item.getChildItems("AMCZ0:anatQAPData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_13_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_13_COUNTER in [0..$xnat_abstractResource_tag_13_NUM_ROWS])
<!-- BEGIN AMCZ0:anatQAPData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:anatQAPData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END AMCZ0:anatQAPData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END AMCZ0:anatQAPData/resources/resource[$xnat_abstractResource_12_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_14_NUM_ROWS=$item.getChildItems("AMCZ0:anatQAPData/fields/field").size() - 1)
							#if($xnat_experimentData_field_14_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_14_COUNTER in [0..$xnat_experimentData_field_14_NUM_ROWS])
<!-- BEGIN AMCZ0:anatQAPData/fields/field[$xnat_experimentData_field_14_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">AMCZ0:anatQAPData/fields/field[$xnat_experimentData_field_14_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/fields/field[$xnat_experimentData_field_14_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("AMCZ0:anatQAPData/fields/field[$xnat_experimentData_field_14_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END AMCZ0:anatQAPData/fields/field[$xnat_experimentData_field_14_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END AMCZ0:anatQAPData -->
		</TD>
	</TR>
</TABLE>
